/*
This file contains all the media refernces such as icons, fonts and other media content.
*/
/* 
    Created on : Aug 31, 2016, 4:12:38 PM
    Author     : Hemlock Devtop
*/
/*
All the basic needs placed in here in order to make the import structure logical.
*/
/* 
    Created on : Aug 31, 2016, 4:17:48 PM
    Author     : Hemlock Devtop
*/
/********** VARIABLES **********/
/********** GENERAL **********/
html {
  height: 100%; }

body {
  font-family: 'KIRO';
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6e6e6+0,e6e6e6+70,c3c3c2+75,e6e6e6+100,9a9da1+100 */
  background: #e6e6e6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e6e6e6 0%, #e6e6e6 70%, #c3c3c2 75%, #e6e6e6 100%, #9a9da1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e6e6e6 0%, #e6e6e6 70%, #c3c3c2 75%, #e6e6e6 100%, #9a9da1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e6e6e6 0%, #e6e6e6 70%, #c3c3c2 75%, #e6e6e6 100%, #9a9da1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#9a9da1',GradientType=0 );
  /* IE6-9 */
  height: 100%; }

h1 {
  font-family: 'KIRO EXTRA BOLD';
  font-size: 32px; }

h2 {
  font-family: 'KIRO EXTRA BOLD';
  padding: 5px;
  margin: 0px; }

input, textarea {
  background-color: #e6e6e6;
  border-radius: 5px;
  font-size: 13px;
  color: black;
  padding: 3px;
  width: 300px; }

input {
  height: 30px;
  margin-bottom: 10px; }

textarea {
  max-width: 300px;
  min-height: 250px;
  max-height: 500px; }

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: black; }

a:hover {
  color: #ee1d3a; }

.flexbox, .flexrow, .flexlistrow, .flexcollum, .flexlistcollum, .flexMiddle, .flexRight, .flexCenter {
  display: -webkit-flex;
  display: flex; }

.flexrow, .flexlistrow {
  -webkit-flex-direction: row;
  flex-direction: row; }

.flexcollum, .flexlistcollum {
  -webkit-flex-direction: column;
  flex-direction: column; }

.flexlistcollum {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.flexlistrow {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.flexMiddle {
  -webkit-align-items: center;
  align-items: center; }

.flexRight {
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flexCenter {
  -webkit-justify-content: center;
  justify-content: center; }

.box32 {
  height: 32px;
  width: 32px; }

.box24, .iconAbout, .iconContact, .iconMessageSent, .iconMessageCancel {
  height: 24px;
  width: 24px; }

.box16 {
  height: 16px;
  width: 16px; }

.socialBox45, .iconFacebook, .iconTwitter, .iconLinkedin, .iconGooglePlus, .iconYoutube {
  height: 33.75px;
  width: 36px; }

/*********** FONTS ***********/
@font-face {
  font-family: 'KIRO';
  src: url("../fonts/KIRO REGULAR.OTF"); }
@font-face {
  font-family: 'KIRO BOLD';
  src: url("../fonts/KIRO BOLD.OTF"); }
@font-face {
  font-family: 'KIRO EXTRA BOLD';
  src: url("../fonts/KIRO EXTRA BOLD.OTF"); }
@font-face {
  font-family: 'KIRO ITALIC';
  src: url("../fonts/KIRO ITALIC.OTF"); }
.bold {
  font-family: 'KIRO BOLD'; }

.extra_bold {
  font-family: 'KIRO EXTRA BOLD'; }

.italic {
  font-family: 'KIRO ITALIC'; }

/*********** ICONS ***********/
.iconAbout {
  background-image: url("../images/ico_about.png");
  background-size: 100%;
  margin-left: 15px; }

.iconContact {
  background-image: url("../images/ico_contact.png");
  background-size: 100%; }

.iconFacebook {
  background-image: url("../images/ico_facebook.png");
  background-size: 100%; }

.iconTwitter {
  background-image: url("../images/ico_twitter.png");
  background-size: 100%; }

.iconLinkedin {
  background-image: url("../images/ico_linkedin.png");
  background-size: 100%; }

.iconGooglePlus {
  background-image: url("../images/ico_googleplus.png");
  background-size: 100%; }

.iconYoutube {
  background-image: url("../images/ico_youtube.png");
  background-size: 100%; }

.iconMessageSent {
  background-image: url("../images/ico_msg_send.png");
  background-size: 100%; }

.iconMessageCancel {
  background-image: url("../images/ico_msg_cancel.png");
  background-size: 100%; }

/*********** IMAGES ***********/

/*# sourceMappingURL=media.css.map */
